$color_red: red;
$color_purple: purple;
$color_green: green;
$color_magenta: magenta;
$color_pink: pink;
$color_lightcoral: lightcoral;

ul {
  a {
    text-decoration: none;

    &:hover {
      color: $color_red;
    }
  }
}

ul a:active {
  color: $color_purple;
}

ul a:visited {
  color: $color_green;
}

.para {
  padding: 10px 20px;

  .reverse & {
    width: 50%;
    padding: 0;
  }
}

.para-short {
  width: 50%;
  margin: 0 auto;

  .reverse & {
    width: 100%;
    padding: 10px 20px;
  }
}

a {
  .all-visited & {
    text-decoration: line-through;
  }
}

ol a:hover {
  color: $color_magenta;
}

ol a:active {
  color: $color_pink;
}

ol a:visited {
  color: $color_lightcoral;
}
